<!DOCTYPE html>
<html th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SoccerNow</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        #container {
            margin: auto;
            max-width: 500px;
        }

        th {
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="container">
        <div layout:fragment="header">
            <h1>SOCCER NOW</h1>
        </div>

        <div th:replace="${content}"></div>
    </div>
</body>

</html>